{{ 'section-cover-anatomy.css' | asset_url | stylesheet_tag }}

<section class="cover-anatomy-wrapper">
  <div class="cover-anatomy-grid">
    <img class="cover-anatomy-image"
      src="{{ section.settings.image | img_url: '1500x' }}"
      alt="{{ section.settings.image.alt | escape }}"
    >
    <div class="cover-anatomy-tooltip">
      <p class="bold">{{ settings.title }}</p>
      <p>{{ settings.text }}</p>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Cover Anatomy",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.image-banner.settings.image.label"
      },
      {
        "id": "title",
        "type": "text",
        "label": "Item Title"
      },
      {
        "id": "text",
        "type": "textarea",
        "label": "Item Text"
      }
    ],
    "presets": [
  	  {
        "name": "Cover Anatomy",
        "category": "CUSTOM LAYOUT"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
