{{ 'section-cover-anatomy.css' | asset_url | stylesheet_tag }}

<section class="cover-anatomy-wrapper">
  <h1 class="cover-anatomy-title">
    {{ section.settings.title }}
  </h1>
  <div class="cover-anatomy-grid">
    <img class="cover-anatomy-image"
      src="{{ section.settings.image | img_url: '1500x' }}"
      alt="{{ section.settings.image.alt | escape }}"
    >
    <div class="cover-anatomy-tooltip-1">
      <h6>{{ section.settings.item-title-1 }}</h6>
      <p>{{ section.settings.item-text-1 }}</p>
    </div>
    <div class="cover-anatomy-tooltip-2">
      <h6>{{ section.settings.item-title-2 }}</h6>
      <p>{{ section.settings.item-text-2 }}</p>
    </div>
    <div class="cover-anatomy-tooltip-3">
      <h6>{{ section.settings.item-title-3 }}</h6>
      <p>{{ section.settings.item-text-3 }}</p>
    </div>
    <div class="cover-anatomy-tooltip-4">
      <h6>{{ section.settings.item-title-4 }}</h6>
      <p>{{ section.settings.item-text-4 }}</p>
    </div>
    <div class="cover-anatomy-tooltip-5">
      <h6>{{ section.settings.item-title-5 }}</h6>
      <p>{{ section.settings.item-text-5 }}</p>
    </div>
    <div class="cover-anatomy-tooltip-6">
      <h6>{{ section.settings.item-title-6 }}</h6>
      <p>{{ section.settings.item-text-6 }}</p>
    </div>
    <div class="cover-anatomy-tooltip-7">
      <h6>{{ section.settings.item-title-7 }}</h6>
      <p>{{ section.settings.item-text-7 }}</p>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Cover Anatomy",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.image-banner.settings.image.label"
      },
      {
        "id": "title",
        "type": "text",
        "label": "Section Title"
      },
      {
        "id": "item-title-1",
        "type": "textarea",
        "label": "Item Title 1"
      },
      {
        "id": "item-text-1",
        "type": "textarea",
        "label": "Item Text 1"
      },
      {
        "id": "item-title-2",
        "type": "textarea",
        "label": "Item Title 2"
      },
      {
        "id": "item-text-2",
        "type": "textarea",
        "label": "Item Text 2"
      },
      {
        "id": "item-title-3",
        "type": "textarea",
        "label": "Item Title 3"
      },
      {
        "id": "item-text-3",
        "type": "textarea",
        "label": "Item Text 3"
      },
      {
        "id": "item-title-4",
        "type": "textarea",
        "label": "Item Title 4"
      },
      {
        "id": "item-text-4",
        "type": "textarea",
        "label": "Item Text 4"
      },
      {
        "id": "item-title-5",
        "type": "textarea",
        "label": "Item Title 5"
      },
      {
        "id": "item-text-5",
        "type": "textarea",
        "label": "Item Text 5"
      },
      {
        "id": "item-title-6",
        "type": "textarea",
        "label": "Item Title 6"
      },
      {
        "id": "item-text-6",
        "type": "textarea",
        "label": "Item Text 6"
      },
      {
        "id": "item-title-7",
        "type": "textarea",
        "label": "Item Title 7"
      },
      {
        "id": "item-text-7",
        "type": "textarea",
        "label": "Item Text 7"
      }
    ],
    "presets": [
  	  {
        "name": "Cover Anatomy",
        "category": "CUSTOM LAYOUT"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
