{{ 'section-inset-image-banner.css' | asset_url | stylesheet_tag }}

<section class="inset-image-wrapper">
  <div class="inset-image-container {% if section.settings.image == blank %} no-image {% endif %}">
    <div class="inset-image">
      <picture>
        <img class="inset-banner-image"
          src="{{ section.settings.image | img_url }}"
          alt="{{ section.settings.image.alt | escape }}"
        >
      </picture>
    </div>

    {% if section.settings.section-heading != blank or section.settings.section-text != blank %}
    <div class="inset-image-content">
      {% if section.settings.section-heading != blank %}
        <h3 class="section-heading">{{ section.settings.section-heading }}</h3>
      {% endif %}

      {% if section.settings.section-text != blank %}
        <p class="inset-image-text">{{ section.settings.section-text }}</p>
      {% endif %}
    </div>
    {% endif %}
  </div>
</section>
{% schema %}
  {
    "name": "Inset Image Banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.image-banner.settings.image.label"
      },
      {
        "id": "section-heading",
        "type": "text",
        "label": "Heading 1"
      },
      {
        "id": "section-text",
        "type": "textarea",
        "label": "Text"
      }
    ],
    "presets": [
  	  {
        "name": "Inset Image Banner",
        "category": "CUSTOM LAYOUT"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
